.back-catalog {
    width: 90vw;
    margin: 8rem auto;
    h3 {
        font-size: 5rem;
        margin-bottom: 3rem;
        .fa-record-vinyl{
            margin-right: 2rem;
        }
    }
}
#Manson-Albums-Catalog {
    .album {
        display: flex;
        flex-direction: column;
        position: relative;
        .album-title{
            font-weight: 300;
        }
    }
    .album-img {
        //position: relative;
    }
}

/* #homepage-preorder {
    grid-template-columns: repeat(6, minmax(200px, 1fr));
} */