// Background Colour Variables
$background_Base: #ffffff;
$background_section1: #235664;
$background_section2: #5aabc238;
$background_section3: #112e6b;
$background_hero: #235664;
$background_mainMenu: #235664;
$background_footer: #235664;

// font Colour Variables

