// Background Colour Variables
$background_Base: #3a3a3a;
$background_section1: #235664;
$background_section2: #5aabc238;
$background_section3: #112e6b;
$background_hero: #235664;
$background_mainMenu: #235664;
$background_footer: #235664;

// Font Colour Variables
$menu_font: #000;