:root {
    font-size: 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    background-color: $DKBlue_BG;
}
img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.content-inner-wrapper {
    width: 90vw;
    margin: 0 auto;
}