:root {
    font-size: 10px;
}
*, *::before, *::after 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    background-color: $DKBlue_BG;
    overflow-x: hidden;
    min-width: 300px;
}
.container-wrapper{
    
}