/* -------------------------------------------------------------------------- */
/*                   WEBSITE MAIN HEADER AND NAVIGATION AREA                  */
/* -------------------------------------------------------------------------- */

.site-main-header {
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 0 10%;
    margin: 0 0 3rem 0;
    z-index: 100;
    font-family: $menuFont, sans-serif;
    font-weight: 500;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(360deg, rgba(255,255,255,0) 10%, rgba(43,45,66,1) 100%);
    background: -webkit-linear-gradient(360deg, rgba(255,255,255,0) 10%, rgba(43,45,66,1) 100%);
    background: linear-gradient(360deg, rgba(255,255,255,0) 10%, rgba(43,45,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#2b2d42",GradientType=1);
    a.logo-link{
        width: 180px;
        margin-right: 3rem;
        position: relative;
        top:0px;
        img{
            cursor: pointer;
        }
        .logo-accent{
            display: block;
            width: 27%;
            height: 4px;
            background-color: $mansonLessPink;
            position: absolute;
            border-radius: 5px;
            left: 3px;
            top: -2px;
        }
    }
    .main-nav-links{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: .8rem;
        font-size: 1.6rem;
        li.main-nav-item {
            padding: 0 2rem;
            a{
                display: block;
                transition: color 0.2s ease-in 0s;
                padding-bottom: 1px;
            }
            a:hover{
                color: $mansonLessPink;
                border-bottom: 1px solid $mansonLessPink;
                padding-bottom: -1px;
            }
        }
        li:nth-child(3){
            //position: relative;
            display: flex;
            gap: .5rem;
            align-items: center;
            .menu-alert{
                line-height: 1.5;
                font-size: 1rem;
                color: #fff;
                background-color: $mansonLessPink;
                border-radius: .5rem;
                padding: 0 0.4rem;
                margin-bottom: .7rem;
            }
        }   
        li:nth-child(4){
            border-left: 1px solid white;
        }
    }
}
.menu-btn.desktop-active {
    display: none;
}
.scroll-up {
    position: fixed;
    background-color: #fff;
    margin-top: 0;
}

/* -------------------------------------------------------------------------- */
/*                  MOBILE SITE POP-UP MENU AND BURGER STYLES                 */
/* -------------------------------------------------------------------------- */

.menu-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .3s ease-in-out;
.menu_burger {
    width: 40px;
    height: 5px;
    background-color: $mansonPink-color;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    }
}
.menu_burger::before,
.menu_burger::after {
    content:'';
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: $mansonPink-color;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
.menu_burger::before {
    transform: translateY(-12px);
}
.menu_burger::after {
    transform: translateY(12px);
}
.menu-btn.open .menu_burger{
    transform: translateX(-40px);
    background-color: transparent;
}
.menu-btn.open .menu_burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu_burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}


/* -------------------------------------------------------------------------- */
/*                  SITE HEADER AND NAVIGATION MEDIA QUERIES                  */
/* -------------------------------------------------------------------------- */

// @media screen and (min-width: 200px) and (max-width: 400px) {
//     img#site-logo {
//         width: 70%;
//     }
// }
// @media screen and (min-width: 401px) {
//     .main-nav {
//         padding: 2vh 2vw;
//     }
//     img#site-logo {
//         width: 60%;
//     }
// }

/* @media screen and (max-width: 720px) {
    .main-nav-links {
        display: none;
    }
    .open-mobile-main-menu {
        flex-direction: column-reverse;
        width: 100vw;
        height: 100vh;
        background-color: $GRYBlue;
        z-index: 10;
        img {
            display: none;
        }
        .menu-btn {
            z-index: 10;
        }
        .main-nav-links {
            display: flex;
            margin: 3rem 3rem 0 0;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;
            width: 100vw;
            li{
                margin-bottom: 3rem;
                a{
                    font-size: 3rem;
                }
            }
        }   
    }
}
 */
// @media screen and (min-width: 721px){
//     .menu-btn{
//         display: none;
//     }
//     .main-nav {
//         width: 90vw;
//         padding: 2vh 2vw;
//         .main-nav-links {
//             flex: 5;
//             letter-spacing: 0;
            
//         }
//         img{
//             flex: 2;
//         }
//     }
// }
// @media screen and (min-width: 1200px) {
//     img#site-logo {
//         width: 40%;
//     }
// }