/* -------------------------------------------------------------------------- */
/*                 Famous Marilyn Manson Quotes Section Styles                */
/* -------------------------------------------------------------------------- */

/* 5 cards that take up 100% of the section width and height
each is clickable to change or will change on their own on a timer
large text 
small circular image 
name, position 
clickable bars or buttons that transition in sync with the timer
Will require javascript to contol change between quotes and the #famousQuotes background color

*/

#famousQuotes {
    background-color: $bgOrange;
    display: flex;
    flex-direction: column;
    //height: 80vh;
    overflow: hidden;
    .quotes-card {

        width: 40%;
        margin: 0 auto;
        padding: 20rem;
    }
}

