:root {
// Background Colour Variables
--background_Base: #ffffff;
--background_section1: #235664;
--background_section2: #5aabc238;
--background_section3: #112e6b;
--background_hero: #235664;
--background_mainMenu: #235664;
--background_footer: #235664;
// Font Colour Variables
--menu_font: #000;
--menu_font_size: 1em;
--defaultFontSize: 10px;
--mainTitle: 2.5rem;
--subHeading: 2rem;
--bodyContent: 1.2rem;
--logoText: .75rem;
// font weight variables
--lightWeight: 200;
--midWeight: 500;
--heavyWeight: 900;
}


