:root {
    font-size: 16px;
}
@import '_defaultstyles';
@import '_fonts';
@import '_mediaqueries';
@import '_grid';

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background_Base;
    font-family: $defaultBodyFont;
    font-weight: $lightWeight;
    font-size: $defaultFontSize;
}