@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600&display=swap");
:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #000C19;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.content-inner-wrapper {
  width: 90vw;
  margin: 0 auto;
}

/* -------------------------------------------------------------------------- */
/*                   WEBSITE MAIN HEADER AND NAVIGATION AREA                  */
/* -------------------------------------------------------------------------- */
.site-main-header {
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  padding: 0 10%;
  margin: 0 0 3rem 0;
  z-index: 100;
  font-family: "Poppins", sans-serif, sans-serif;
  font-weight: 500;
  background: white;
  background: linear-gradient(360deg, rgba(255, 255, 255, 0) 10%, #2b2d42 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#2b2d42",GradientType=1);
}

.site-main-header a.logo-link {
  width: 180px;
  margin-right: 3rem;
  position: relative;
  top: 0px;
}

.site-main-header a.logo-link img {
  cursor: pointer;
}

.site-main-header a.logo-link .logo-accent {
  display: block;
  width: 27%;
  height: 4px;
  background-color: #E5478C;
  position: absolute;
  border-radius: 5px;
  left: 3px;
  top: -2px;
}

.site-main-header .main-nav-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .8rem;
  font-size: 1.6rem;
}

.site-main-header .main-nav-links li.main-nav-item {
  padding: 0 2rem;
}

.site-main-header .main-nav-links li.main-nav-item a {
  display: block;
  transition: color 0.2s ease-in 0s;
  padding-bottom: 1px;
}

.site-main-header .main-nav-links li.main-nav-item a:hover {
  color: #E5478C;
  border-bottom: 1px solid #E5478C;
  padding-bottom: -1px;
}

.site-main-header .main-nav-links li:nth-child(3) {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.site-main-header .main-nav-links li:nth-child(3) .menu-alert {
  line-height: 1.5;
  font-size: 1rem;
  color: #fff;
  background-color: #E5478C;
  border-radius: .5rem;
  padding: 0 0.4rem;
  margin-bottom: .7rem;
}

.site-main-header .main-nav-links li:nth-child(4) {
  border-left: 1px solid white;
}

.menu-btn.desktop-active {
  display: none;
}

.scroll-up {
  position: fixed;
  background-color: #fff;
  margin-top: 0;
}

/* -------------------------------------------------------------------------- */
/*                  MOBILE SITE POP-UP MENU AND BURGER STYLES                 */
/* -------------------------------------------------------------------------- */
.menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.menu-btn .menu_burger {
  width: 40px;
  height: 5px;
  background-color: #ED33B9;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.menu_burger::before,
.menu_burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 5px;
  background-color: #ED33B9;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.menu_burger::before {
  transform: translateY(-12px);
}

.menu_burger::after {
  transform: translateY(12px);
}

.menu-btn.open .menu_burger {
  transform: translateX(-40px);
  background-color: transparent;
}

.menu-btn.open .menu_burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu_burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* -------------------------------------------------------------------------- */
/*                  SITE HEADER AND NAVIGATION MEDIA QUERIES                  */
/* -------------------------------------------------------------------------- */
/* @media screen and (max-width: 720px) {
    .main-nav-links {
        display: none;
    }
    .open-mobile-main-menu {
        flex-direction: column-reverse;
        width: 100vw;
        height: 100vh;
        background-color: $GRYBlue;
        z-index: 10;
        img {
            display: none;
        }
        .menu-btn {
            z-index: 10;
        }
        .main-nav-links {
            display: flex;
            margin: 3rem 3rem 0 0;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;
            width: 100vw;
            li{
                margin-bottom: 3rem;
                a{
                    font-size: 3rem;
                }
            }
        }   
    }
}
 */
/* -------------------------------------------------------------------------- */
/*                             HERO SECTION LAYOUT                            */
/* -------------------------------------------------------------------------- */
.hero-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 20%)) 3fr;
  grid-column-gap: 20px;
  height: 100vh;
  overflow-y: hidden;
  font-family: "Montserrat", sans-serif, sans-serif;
  font-weight: 600;
  padding: 0px 2rem;
}

.hero-cta {
  display: flex;
  font-size: 6rem;
  font-weight: 200;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 110px;
  bottom: 0;
  left: 50vw;
}

.hero-cta h2 {
  font-size: 10rem;
  font-weight: 800;
  letter-spacing: -.5rem;
  word-spacing: 1.5rem;
  line-height: 1;
}

.hero-cta h3 {
  font-weight: 300;
}

.userInput {
  margin-top: 4rem;
}

.col-img {
  width: 100%;
  height: 300px;
  margin-bottom: 16px;
  background-color: white;
  border-radius: 16px;
}

.col-left {
  transform: translateY(-75px);
}

.col-right {
  transform: translateY(75px);
}

/* -------------------------------------------------------------------------- */
/*                           HERO SECTION ANIMATION                           */
/* -------------------------------------------------------------------------- */
.col-left .col-img {
  animation: left-col-animation linear 10s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@keyframes left-col-animation {
  0% {
    transform: translate(0px, -50px);
  }
  100% {
    transform: translate(0px, -2200px);
  }
}

/*
.col-left:hover{
animation: animationslow linear 3s;
animation-iteration-count: infinite;
transform-origin: 50% 50%;
}
@keyframes animationslow {
0%{
    transform: translate(0px, 0px);
}
100% {
    transform: translate(0px, 0px);
}
}*/
.col-right .col-img {
  animation: animationFrames linear 10s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@keyframes animationFrames {
  0% {
    transform: translate(0px, -2100px);
  }
  100% {
    transform: translate(0px, -50px);
  }
}

/* -------------------------------------------------------------------------- */
/*                         HERO SECTION MEDIA QUERIES                         */
/* -------------------------------------------------------------------------- */
#NewAlbum {
  height: 100vh;
}

#song-titles {
  height: 100vh;
}

/* -------------------------------------------------------------------------- */
/*                 Famous Marilyn Manson Quotes Section Styles                */
/* -------------------------------------------------------------------------- */
/* 5 cards that take up 100% of the section width and height
each is clickable to change or will change on their own on a timer
large text 
small circular image 
name, position 
clickable bars or buttons that transition in sync with the timer
Will require javascript to contol change between quotes and the #famousQuotes background color

*/
#famousQuotes {
  background-color: #fa8f77;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#famousQuotes .quotes-card {
  width: 40%;
  margin: 0 auto;
  padding: 20rem;
}

.main-footer {
  background-color: transparent;
  width: 90vw;
  margin: 0 auto;
}
/*# sourceMappingURL=styles.css.map */