<header id="main-header" class="site-main-header">
    <a href="/" class="logo-link" aria-label="Websites Main Logo And Homepage Link">
    <img id="site-logo" src="img/Marilyn-Manson-Logo.png" alt="Marilyn Manson Logo">
    <span class="logo-accent"></span>
    </a>
    <nav class="main-nav">
        <ul class="main-nav-links" role="navigation">
            <li class="main-nav-item"><a href="/">WE ARE CHAOS</a></li>
            <li class="main-nav-item"><a href="#">Merch</a></li>
            <li class="main-nav-item"><a href="#">Tour Dates</a><span class="menu-alert">Covid-19</span></li>
            <li class="main-nav-item"><a href="/signup">Log In</a></li>
        </ul>
    </nav>
    <div class="menu-btn desktop-active">
        <div class="menu_burger"></div>
    </div>
</header>