<main class="home-page admin-console">
    <h2>Login:</h2>
    {{#if admin}}
    <h2>Login Complete</h2>
    <h2>Display current tour dates</h2>
    <h2>Button options to update, delete, add tour dates for the american tour</h2>
        {{else}}
        <h2>Login Here</h2>
        <h2>Add Login Form</h2>
    {{/if}}
</main>
