<header id="main-header" class="site-main-header">
    <a href="/" class="logo-link" aria-label="Websites Main Logo And Homepage Link">
        <img id="site-logo" src="img/Marilyn-Manson-Logo.png" alt="Marilyn Manson Logo">
        <span class="logo-accent"></span>
    </a>
    <nav class="main-nav">
        <ul class="main-nav-links" role="navigation">
            <li class="main-nav-item"><a href="#">WE ARE CHAOS</a></li>
            <li class="main-nav-item"><a href="#">Merch</a></li>
            <li class="main-nav-item"><a href="#">Tour Dates</a><span class="menu-alert">Covid-19</span></li>
            <li class="main-nav-item"><a href="#">Log In</a></li>
        </ul>
    </nav>
    <div class="menu-btn desktop-active">
        <div class="menu_burger"></div>
    </div>
</header>
<main class="home-page signup-content">
    <h2>Signup Complete</h2>
</main>
<footer class="main-footer" role="complementary">
    <header class="footer-logo">
        <a href="#main-header" class="logo-link" aria-label="Websites Main Logo And Homepage Link">
            <img id="footer-logo" src="img/Marilyn-Manson-Logo.png" alt="Marilyn Manson Logo">
            <span class="footer-logo-accent"></span>
        </a>
    </header>
    <div class="footer-links-content">
        <div>
            <h4 class="footer-title">American Tour 2020 - Tickets</h4>
            <div class="footer-link-section">
                <ul class="footer-links">
                    <li class="footer-link-item"><a href="">New York</a></li>
                    <li class="footer-link-item"><a href="">Chicago</a></li>
                    <li class="footer-link-item"><a href="">Washington D.C</a></li>
                    <li class="footer-link-item"><a href="">Boston</a></li>
                    <li class="footer-link-item"><a href="">Dallas</a></li>
                    <li class="footer-link-item"><a href="">Houston, Texas</a></li>
                    <li class="footer-link-item"><a href="">Seattle</a></li>
                    <li class="footer-link-item"><a href="">Tampa</a></li>
                    <li class="footer-link-item"><a href="">Los Angeles</a></li>
                </ul>
                <ul class="footer-links">
                    <li class="footer-link-item"><a href="">Denver</a></li>
                    <li class="footer-link-item"><a href="">Orlando</a></li>
                    <li class="footer-link-item"><a href="">Miami</a></li>
                    <li class="footer-link-item"><a href="">San Diego</a></li>
                    <li class="footer-link-item"><a href="">Atlanta</a></li>
                    <li class="footer-link-item"><a href="">Jacksonville</a></li>
                    <li class="footer-link-item"><a href="">Detroit</a></li>
                </ul>
                <ul class="footer-links">
                    <li class="footer-link-item"><a href="">Portland</a></li>
                    <li class="footer-link-item"><a href="">Philadelphia</a></li>
                    <li class="footer-link-item"><a href="">Las Vegas</a></li>
                    <li class="footer-link-item"><a href="">Baltimore</a></li>
                    <li class="footer-link-item"><a href="">Phoenix</a></li>
                </ul>
            </div>
        </div>
        <div>
            <h4 class="footer-title">Follow Social Media</h4>
            <div class="footer-link-section social-links">
                <ul class="footer-links">
                    <li class="footer-link-item"><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
                    <li class="footer-link-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
                    <li class="footer-link-item"><a href="#"><i class="fa fa-spotify" aria-hidden="true"></i>Spotify</a></li>
                </ul>
                <ul class="footer-links">
                    <li class="footer-link-item"><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i>Twitter</a></li>
                    <li class="footer-link-item"><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i>YouTube</a></li>
                    <li class="footer-link-item"><a href="#"><i class="fa fa-soundcloud" aria-hidden="true"></i>SoundCloud</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>&copy; 2020 All Rights Reserved.</p>
    </div>
</footer>
<div class="floating-popup">
    <div class="popup-icon"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></div>
    <div class="popup-form">
        <div class="popup-icon"><i class="fas fa-info-circle" aria-hidden="true"></i></div>
        <form action="" class="floating-info-form">
            <input type="text">
            <input type="text">
            <input type="email" name="" id="">
            <textarea name="" id="" cols="30" rows="20"></textarea>
            <button><i class="fas fa-at"></i>Submit</button>
        </form>
    </div>
</div>