.back-catalog {
    width: 90vw;
    margin: 8rem auto;
    h3 {
        font-size: 5rem;
        margin-bottom: 3rem;
        .fa-record-vinyl{
            margin-right: 2rem;
        }
    }
}
#Manson-Albums-Catalog {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 3rem;
    .album {
        display: flex;
        flex-direction: column;
        position: relative;
        .album-title{
            font-weight: 300;
        }
    }
}