:root {
    font-size: 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    background-color: $DKBlue_BG;
}
img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.content-inner-wrapper {
    width: 90vw;
    margin: 0 auto;
}
h1, h2, h3, h4, h5 {
    font-family: $defaultBodyFont;
    font-size: 3rem;
    font-weight: 600;
}
p {
    font-family: $menuFont, sans-serif;
    font-weight: 300;
    font-size: 2rem;
}