.floating-popup {
    position: relative;
    width: 20%;
    background-color: inherit;
    display: flex;
    #popup-form {
        width: 100%;
        transform: scale(0, 0);
        transform-origin: bottom left;
        transition: .5s ease-in-out;
        position: absolute;
        bottom: 10px;
        left: 60px;
        padding: 2rem;
        border: .5rem solid $xgray;
        border-radius: 2rem;
        background-color: $DKBlue_BG;
        #formPopup {
            display: flex;
            align-content: space-between;
            align-items: center;
            height: fit-content;
            width: fit-content;
            h3{
                font-size: 3rem;
            }
            button {
                background-color: transparent;
                border: none;
                padding: .5rem;
                font-size: 3rem;
                color: $mansonPink-color;
                outline: none;
                cursor: pointer;
                transition: transform .2s ease-in;
                &:hover{
                    transform-origin: center center;
                    transform: rotate(30deg) scale3d(2.5, 1.6, 2.5) perspective(15px) skewY(1.07rad);
                } 
            }
        }
        #floating-form {
            display: flex;
            flex-direction: column;
            label {
                font-family: $defaultBodyFont;
                font-weight: 300;
                font-size: 2rem;
            }
            input {
                padding: 1rem;
                color: black;
                font-family: $defaultBodyFont;
                font-weight: 600;
                font-size: 1.6rem;
                outline: none;
                margin-bottom: 1rem;
            }
            textarea {
                outline: none;
                padding: 1rem;
                color: black;
                font-family: $defaultBodyFont;
                font-weight: 600;
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }
            button {
                font-family: $defaultBodyFont;
                padding: 2rem;
                font-weight: 600;
                font-size: 3rem;
                background-color: $GRYBlue;
                outline: none;
                border: none;
                cursor: pointer;
            }
        }
    }
    .popup-icon {
        display: flex;
        align-items: flex-end;
        align-content: flex-end;
        width: 50px; 
        height: 50px;
        padding: 1rem;
        bottom: 20px;
        i {
            cursor: pointer;
            font-size: 4rem;
            color:$mansonPink-color;
            transform-origin: center center;
            transition: .3s ease-in-out ;
            transform: rotate(0deg);
            &:hover {
                transition: .5s;
                transform: rotate(450deg);
                transform-origin: center center;
            }
        }
    }
}
#popup-form.form-open {
    transition-delay: .2s;
    transform: scale(1, 1);
}
.popup-icon.form-open {
    color:$mansonPink-color;
    transform-origin: center center;
    transition: .3s ease-in-out ;
    transform: rotate(0deg);
}
