/* -------------------------------------------------------------------------- */
/*                             HERO SECTION LAYOUT                            */
/* -------------------------------------------------------------------------- */

.hero-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 20%)) 3fr;
    grid-column-gap: 20px;
    height: 100vh;
    min-height: 100vh;
    overflow-y:hidden;
    font-family: $defaultBodyFont, sans-serif;
    font-weight: 600;
    padding: 0px 2rem 20px 2rem;
}
.hero-cta {
    display: flex;
    font-size: 6rem;
    font-weight: 200;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 11rem;
    bottom: 0;
    left: 50vw;
    h2 {
        font-size: clamp(4rem, 12rem, 14rem);
        font-weight: 800;
        letter-spacing: -.5rem;
        word-spacing: 1.5rem;
        line-height: 1;
        position: relative;
        span.chaos{
            height: 1.6rem;
            width: 60%;
            background-color: $mansonPink-color;
            position: absolute;
            bottom: -1rem;
            left: 0px;
        }
        span.chaos-mobile {
            display: none;
        }
    }
    h3.cta-subheadline{
        font-size: 5rem;
        margin: 3rem 0;
        font-weight: 300;
    }
    form {
        display: flex;
        button.cta-signup-btn {
            width: 200px;
            border-radius: 2rem;
            font-family: $boldHeading;
            color: $xgray;
            margin-left: 1rem;
            padding: 1.5rem;
            background-color: $preorder_BG;
            border: 2px solid $preorder_BG;
            outline: none;
            box-shadow: 12px 12px 20px #000a14,
                        -8px -8px 15px #002447;
        }
        input[type=email], input[type=text] {
            font-family: $boldHeading;
            color: $GRYBlue;
            padding: 1.5rem;
            margin: -10px;
            box-sizing: border-box;
            border: none;
            outline: none;
            :focus {
                border: none;
            }
            :focus-within{
                border: none;
            }
        }
        input[type=email] {
            width: 200px;
            border-radius: 1.2rem 0 0 1.2rem;
        }
        input[type=email]:focus, input[type=email]:focus-within, input[type=text]:focus, input[type=text]:focus-within {
            width: 400px;
        }
        input[type=email]:hover, input[type=text]:hover, button.cta-signup-btn:hover, button.cta-signup-btn:active {
            color: $mansonPink-color;
            cursor: pointer;
            outline: none;
        }
        input[type=text] {
            width: 150px;
            border-radius: 0 1.2rem 1.2rem 0;
            border-left: 1px dashed rgba($color: #000000, $alpha: 0.8);
        }
    }
    .cta-text {
        margin-top: 2rem;
    }
    .cta-text i {
        margin-left: 1rem;
    }
    .cta-text a:hover i, a:hover {
        color: $mansonPink-color;
    }
}
.userInput{
    margin-top: 4rem;
}

.col-img-item {
    position: relative;
    width: 100%;
    height: 350px;
    margin-bottom: 16px;
    background-color: $DKBlue_BG;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 110%;
    transition: background-size .5s ease-in-out;
    filter: opacity(70%) saturate(80%) contrast(120%) drop-shadow(-3px 2px 6px $GRYBlue);
}
.col-img-item::before,
.col-img-item::after {
    --scale: 0;
    --arrowsize: 15px;
    --tooltipBG: $GRYBlue;
    --speed: 150ms;
    z-index: 20;
    position: absolute;
    top: -.25rem;
    left: 80%;
    filter: opacity(100%);
    transform: translateX(-80%) translateY(var(--translatey, 0)) scale(var(--scale));
    border-radius: 2rem;
    display: flex;
    align-items: center;
    transition: var(--speed) transform;
    transform-origin: bottom left;
}
.img-hover {
    z-index: 10;
    transform-origin: center center;
    filter: opacity(100%);
    background-size: 100%;
    animation: img-filter .5s ease-in-out reverse;
    animation-iteration-count: 1;
} 
@keyframes img-filter {
    100% {
        filter: opacity(70%);
    }
}
.col-img-item::before {
    --translatey: calc(-100% - var(--arrowsize));
    content: attr(data-hero-tooltip);
    padding: 2rem;
    background-color: $GRYBlue;
    color:$mansonLessPink;
    font-family: $menuFont;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    line-height: .9;
    filter: opacity(100%);
}
.col-img-item:hover::before,
.col-img-item:hover::after {
    --scale: 1;
}
.col-img-item::after{
    --translatey: calc(-1 * var(--arrowsize));
    transform-origin: top center;
    content: '';
    border-radius: 0;
    border: var(--arrowsize) solid transparent;
    border-top-color: $GRYBlue;

}
.col-left {
    z-index: 1;
    transform: translateY(-75px);
    .col-img-item:nth-child(1){
        background-image: url('../img/1.jpg');
    }
    .col-img-item:nth-child(2){
        background-image: url('../img/2.jpg');
    }
    .col-img-item:nth-child(3){
        background-image: url('../img/3.jpg');
    }
    .col-img-item:nth-child(4){
        background-image: url('../img/4.jpg');
        background-position: top center;
    }
    .col-img-item:nth-child(5){
        background-image: url('../img/5.jpg');
    }
    .col-img-item:nth-child(6){
        background-image: url('../img/6.png');
    }
    .col-img-item:nth-child(7){
        background-image: url('../img/7.jpg');
    }
    .col-img-item:nth-child(8){
        background-image: url('../img/8.jpg');
    }
    .col-img-item:nth-child(9){
        background-image: url('../img/9.jpg');
        background-position: left center;
    }
    .col-img-item:nth-child(10){
        background-image: url('../img/10.jpg');
    }
    .col-img-item:nth-child(11){
        background-image: url('../img/11.png');
    }
    .col-img-item:nth-child(12){
        background-image: url('../img/21.jpg');
    }
    .col-img-item:nth-child(13){
        background-image: url('../img/49.jpg');
    }
    .col-img-item:nth-child(14){
        background-image: url('../img/45.jpg');
    }
    .col-img-item:nth-child(15){
        background-image: url('../img/12.jpg');
    }
}
.col-right{
    transform: translateY(50px);
    .col-img-item:nth-child(1){
        background-image: url('../img/13.jpg');
    }
    .col-img-item:nth-child(2){
        background-image: url('../img/14.jpg');
    }
    .col-img-item:nth-child(3){
        background-image: url('../img/62.jpg');
    }
    .col-img-item:nth-child(4){
        background-image: url('../img/34.jpg');
        background-position: top center;
    }
    .col-img-item:nth-child(5){
        background-image: url('../img/17.2.jpg');
    }
    .col-img-item:nth-child(6){
        background-image: url('../img/18.jpg');
    }
    .col-img-item:nth-child(7){
        background-image: url('../img/37.jpg');
    }
    .col-img-item:nth-child(8){
        background-image: url('../img/24.jpg');
    }
    .col-img-item:nth-child(9){
        background-image: url('../img/19.jpg');
    }
    .col-img-item:nth-child(10){
        background-image: url('../img/40.jpg');
    }
    .col-img-item:nth-child(11){
        background-image: url('../img/27.jpg');
    }
    .col-img-item:nth-child(12){
        background-image: url('../img/30.jpg');
    }
    .col-img-item:nth-child(13){
        background-image: url('../img/46.jpg');
    }
    .col-img-item:nth-child(14){
        background-image: url('../img/16.2.jpg');
    }
    .col-img-item:nth-child(15){
        background-image: url('../img/56.jpg');
    }
    .col-img-item:nth-child(16){
        background-image: url('../img/56.jpg');
    }
}


/* -------------------------------------------------------------------------- */
/*                           HERO SECTION ANIMATION                           */
/* -------------------------------------------------------------------------- */


.col-left .col-img-item{
animation: left-col-animation linear 20s;
animation-iteration-count: infinite;
transform-origin: 50% 50%;
}
@keyframes left-col-animation {
    0% {
        transform:  translate(0px,-50px);
    }
    100% {
        transform:  translate(0px, -4500px); 
    }
}

.col-right .col-img-item{
animation: animationFrames linear 20s;
animation-iteration-count: infinite;
transform-origin: 50% 50%;
}
@keyframes animationFrames{
    0% {
        transform:  translate(0px, 50px);
    }
    100% {
        transform:  translate(0px, -4450px); 
    }
}
