.main-footer {
    height: 90vh;
    padding: 15rem 0;
    background-color: transparent;
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .footer-logo {
        position: relative;
        width: 200px;
        margin-bottom: 5rem;
        .footer-logo-accent {
            width: 50px;
            height: 5px;
            background-color: $mansonPink-color;
            display: inline-block;
            position: absolute;
            top: -5px;
            left: 5px;
        }
    }
}

.footer-links {
    margin-right: 5rem;
    i {
        margin-right: 1rem;
        color: $mansonLessPink;
    }
    .footer-link-item a:hover, .footer-link-item .fa:hover {
        position: relative;
        //color: #fff;
        text-shadow: 0 0 50px $mansonLessPink,
                     0 0 100px $mansonLessPink,
                     0 0 150px $mansonLessPink,
                     0 0 200px $mansonLessPink,
                     0 0 250px $mansonLessPink,
                     0 0 300px $mansonLessPink,
                     0 0 350px $mansonLessPink,
                     0 0 400px $mansonLessPink;
        animation: rotateHoverColour 3s linear infinite;
    }
    @keyframes rotateHoverColour {
        0% {
            filter: hue-rotate(0deg);
        }
        100% {
            filter: hue-rotate(360deg);
        }
    }
}

.footer-links-content {
    display: flex;
    div:nth-child(1){
        margin-right: 10rem;
        margin-bottom: 10rem;
    }
}
.footer-link-section {
    margin-top: 2rem;
    display: flex;
}
.footer-link-item {
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
}
.footer-copyright {
    height: 150px;
    padding: 2rem 2rem 4rem 0;
    width: fit-content;
    text-align: center;
}
