/* -------------------------------------------------------------------------- */
/*                   WEBSITE MAIN HEADER AND NAVIGATION AREA                  */
/* -------------------------------------------------------------------------- */

.site-main-header {
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    padding: 0 10%;
    margin: 0 0 3rem 0;
    z-index: 100;
    font-family: $menuFont, sans-serif;
    font-weight: 500;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(360deg, rgba(255,255,255,0) 10%, $GRYBlue 100%);
    background: -webkit-linear-gradient(360deg, rgba(255,255,255,0) 10%, $GRYBlue 100%);
    background: linear-gradient(360deg, rgba(255,255,255,0) 10%, $GRYBlue 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#2b2d42",GradientType=1);
    a.logo-link{
        width: 180px;
        margin-right: 3rem;
        position: relative;
        top:0px;
        img{
            cursor: pointer;
        }
        .logo-accent{
            display: block;
            width: 27%;
            height: 4px;
            background-color: $mansonLessPink;
            position: absolute;
            border-radius: 5px;
            left: 3px;
            top: -2px;
        }
    }
    .main-nav-links{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: .8rem;
        font-size: 1.6rem;
        li.main-nav-item {
            padding: 0 2rem;
            a{
                display: block;
                transition: color 0.2s ease-in 0s;
                padding-bottom: 1px;
            }
            a:hover{
                color: $mansonLessPink;
                border-bottom: 1px solid $mansonLessPink;
                padding-bottom: -1px;
            }
        }
        li:nth-child(3){
            display: flex;
            gap: .5rem;
            align-items: center;
            .menu-alert{
                line-height: 1.5;
                font-size: 1rem;
                color: #fff;
                background-color: $mansonLessPink;
                border-radius: .5rem;
                padding: 0 0.4rem;
                margin-bottom: .7rem;
            }
        }   
        li:nth-child(4){
            border-left: 1px solid white;
        }
    }
}
.menu-btn.desktop-active {
    display: none;
}

/* -------------------------------------------------------------------------- */
/*                SITE NAVIGATION WHEN SCROLLING UP THE SCREEN                */
/* -------------------------------------------------------------------------- */
.scroll-up {
    position: fixed;
    margin-top: 0;
    background-color: #fff;
    img {
        filter: 
        drop-shadow(2px 4px 6px black)
         drop-shadow(4px 3px 5px rgba(0, 0, 0, 0.2)) 
         drop-shadow(1px 1px 1px rgba(238, 60, 208, 0.2)) 
         drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2)) 
         brightness(1) contrast(1.5)
         drop-shadow(-5px -1px 8px rgba(238, 60, 208, 0.7));
    }
    .scroll-up.main-nav.main-nav-links.main-nav-item a{
        color: #000;
        a:hover{
            color: $mansonLessPink;
            border-bottom: 1px solid $mansonLessPink;
            padding-bottom: -1px;
        }
    }
    li:nth-child(3){
        display: flex;
        gap: .5rem;
        align-items: center;
        .menu-alert{
            line-height: 1.5;
            font-size: 1rem;
            color: $DKBlue_BG;
            background-color: $mansonLessPink;
            border-radius: .5rem;
            padding: 0 0.4rem;
            margin-bottom: .7rem;
        }
    }   
    li:nth-child(4){
        border-left: 1px solid $mansonLessPink;
    }
}