.album-preorder-area {
    background-color: $preorder_BG;
    color: $xgray;
    display: flex;
}
#PreorderHeadlines {
    width: 50%;
    background-color: $preorder_BG;
    .headlineinnerarea{
        padding: 20rem 0px 0 25rem;
        height: 100vh;
        position: sticky;
        top: 0;
        width: fit-content;
        h2.preorder-main-heading {
            font-family: $boldHeading;
            font-size: 8rem;
            transform: translateX(-10rem);
            margin-bottom: 5rem;
        }
        .preorder-title {
            font-size: 3.5rem;
            margin-bottom: 1rem;
            font-weight: 300;
        }
    }
}

#NewAlbumPreOrder {
    width: 50%;
    background-color: $preorder_BG;
    padding-top: 5rem;
    padding-bottom: 5rem;
    #homepage-preorder {
        width: 70%;
        .album {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            align-content: flex-end;
            margin-bottom: 20px;
            .album-img-wrapper {
                width: 50%;
            }
            .album-title {
                font-size: 6rem;
                text-align: right;
                line-height: 1;
                margin: 2rem 0;
            }
            .album-shipping {
                width: 90%;
                text-align: right;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 2;
                span {
                    font-weight: 300;
                }
            }
            .album-price {
                font-family: $boldHeading;
                font-size: 4rem;
                text-align: right;
                line-height: 2;
            }
            .preorderBTN {
                margin-top: 2rem;
                font-family: $defaultBodyFont;
                font-size: 2rem;
                display: inline-block;
                padding: 1rem;
                border: 1px solid white;
                &:hover {
                    border: 1px solid $mansonPink-color;
                    color: $mansonPink-color;
                    font-weight: 300;
                }
            }
        }
    }
}