.album-preorder-area {
    background-color: gainsboro;
    display: flex;
}
.headlineinnerarea{
    h2.preorder-main-heading {
        font-family: $boldHeading;
        font-size: 5rem;
    }
}
#PreorderHeadlines {
    width: 50%;
    background-color: transparent;
    .headlineinnerarea{
        padding: 200px 0px 0 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
#NewAlbumPreOrder {
    width: 50%;
    background-color: blue;
}