/* -------------------------------------------------------------------------- */
/*                 Famous Marilyn Manson Quotes Section Styles                */
/* -------------------------------------------------------------------------- */

/* 

1.  5 cards that take up 100% of the section width and view port height
2.  each is clickable to change or will change on their own on a timer
3.  large text 
4.  small circular image 
5.  name, position 
6.  clickable bars or buttons that transition in sync with the timer
7.  Will require javascript to contol change between quotes and the #famousQuotes background color

*/

#famousQuotes {
    background-color: $bgOrange;
    height: 90vh;
    position: relative;
}    
.quotes {
    height: 90%;
    width: 700px;
    position: relative;
    //overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.quotes-inner-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}
.quotes-card {
    width: 100%;
    height: 100%;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: none;
}
.quoteContent {
    width: 700px;
    .quote-text{
        font-family: $defaultBodyFont;
        font-weight: 300;
        text-align: center;
        font-size: 3rem;
    }
}
i.fa-quote-right{
    font-size: 5rem;
    color: $mansonPink-color;
    margin-bottom: 3rem;
}
.quote-name{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    h5, p {
        text-align: center;
    }
} 
.quote-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-position: center center;
    object-fit: cover;
}
.quote-button-area{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    .quotecards-buttons {
            display: inline-block;
            width: 10rem;
            height: 2rem;
            margin-right: 2rem;
            border: 2px solid $mansonLessPink;
            background-color: transparent;
            cursor: pointer;
            transition: background-color 0.4s;
        }
        .quotecards-buttons:hover {
            background-color: $mansonPink-color;
        }
}
input[name="quotes"]{
    position: absolute;
    visibility: hidden;
}
input[name="quotes"]:checked + .quotes-card {
    display: flex;
}
