//NEW ALBUM HOMEPAGE SECTION
#spotify-section {
    width: 90vw;
    margin: 0 auto;
    padding: 5rem 0;
}

h2.spotify-headline {
    padding: 3rem 0;
    font-family: $boldHeading;
    font-weight: 600;
    font-size: 8rem;
    .fa-spotify {
        color:$spotifyGreen;
    }
}
h3.spotify-sub-headline {
    font-family: $boldHeading;
    font-weight: 600;
    font-size: 4rem;
    span {
        color:$spotifyGreen;
    }
}

.tracks-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr) );
    gap: 2rem;
}

// .spotify-cards-area article {
//     display: flex;
// }

// .spotify-top-track-item div {
//     display: flex;
//     flex-direction: column;
// }