@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
:root {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

body {
  background-color: #000C19;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

p {
  font-family: "Poppins", sans-serif, sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

/* -------------------------------------------------------------------------- */
/*                   WEBSITE MAIN HEADER AND NAVIGATION AREA                  */
/* -------------------------------------------------------------------------- */
.site-main-header {
  position: absolute;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
  width: 100%;
  padding: 0 10%;
  margin: 0 0 3rem 0;
  z-index: 100;
  font-family: "Poppins", sans-serif, sans-serif;
  font-weight: 500;
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgba(255, 255, 255, 0)), to(#2B2D42));
  background: linear-gradient(360deg, rgba(255, 255, 255, 0) 10%, #2B2D42 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#2b2d42",GradientType=1);
}

.site-main-header a.logo-link {
  width: 180px;
  margin-right: 3rem;
  position: relative;
  top: 0px;
}

.site-main-header a.logo-link img {
  cursor: pointer;
}

.site-main-header a.logo-link .logo-accent {
  display: block;
  width: 27%;
  height: 4px;
  background-color: #E5478C;
  position: absolute;
  border-radius: 5px;
  left: 3px;
  top: -2px;
}

.site-main-header .main-nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .8rem;
  font-size: 1.6rem;
}

.site-main-header .main-nav-links li.main-nav-item {
  padding: 0 2rem;
}

.site-main-header .main-nav-links li.main-nav-item a {
  display: block;
  -webkit-transition: color 0.2s ease-in 0s;
  transition: color 0.2s ease-in 0s;
  padding-bottom: 1px;
}

.site-main-header .main-nav-links li.main-nav-item a:hover {
  color: #E5478C;
  border-bottom: 1px solid #E5478C;
  padding-bottom: -1px;
}

.site-main-header .main-nav-links li:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-main-header .main-nav-links li:nth-child(3) .menu-alert {
  line-height: 1.5;
  font-size: 1rem;
  color: #fff;
  background-color: #E5478C;
  border-radius: .5rem;
  padding: 0 0.4rem;
  margin-bottom: .7rem;
}

.site-main-header .main-nav-links li:nth-child(4) {
  border-left: 1px solid white;
}

.menu-btn.desktop-active {
  display: none;
}

/* -------------------------------------------------------------------------- */
/*                SITE NAVIGATION WHEN SCROLLING UP THE SCREEN                */
/* -------------------------------------------------------------------------- */
.scroll-up {
  position: fixed;
  margin-top: 0;
  background-color: #fff;
}

.scroll-up img {
  -webkit-filter: drop-shadow(2px 4px 6px black) drop-shadow(4px 3px 5px rgba(0, 0, 0, 0.2)) drop-shadow(1px 1px 1px rgba(238, 60, 208, 0.2)) drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2)) brightness(1) contrast(1.5) drop-shadow(-5px -1px 8px rgba(238, 60, 208, 0.7));
          filter: drop-shadow(2px 4px 6px black) drop-shadow(4px 3px 5px rgba(0, 0, 0, 0.2)) drop-shadow(1px 1px 1px rgba(238, 60, 208, 0.2)) drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2)) brightness(1) contrast(1.5) drop-shadow(-5px -1px 8px rgba(238, 60, 208, 0.7));
}

.scroll-up .scroll-up.main-nav.main-nav-links.main-nav-item a {
  color: #000;
}

.scroll-up .scroll-up.main-nav.main-nav-links.main-nav-item a a:hover {
  color: #E5478C;
  border-bottom: 1px solid #E5478C;
  padding-bottom: -1px;
}

.scroll-up li:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll-up li:nth-child(3) .menu-alert {
  line-height: 1.5;
  font-size: 1rem;
  color: #000C19;
  background-color: #E5478C;
  border-radius: .5rem;
  padding: 0 0.4rem;
  margin-bottom: .7rem;
}

.scroll-up li:nth-child(4) {
  border-left: 1px solid #E5478C;
}

/* -------------------------------------------------------------------------- */
/*                             HERO SECTION LAYOUT                            */
/* -------------------------------------------------------------------------- */
.hero-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 20%))[2] 3fr;
      grid-template-columns: repeat(2, minmax(200px, 20%)) 3fr;
  grid-column-gap: 20px;
  height: 100vh;
  min-height: 100vh;
  overflow-y: hidden;
  font-family: "Montserrat", sans-serif, sans-serif;
  font-weight: 600;
  padding: 0px 2rem 20px 2rem;
}

.hero-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 6rem;
  font-weight: 200;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 11rem;
  bottom: 0;
  left: 50vw;
}

.hero-cta h2 {
  font-size: clamp(4rem, 12rem, 14rem);
  font-weight: 800;
  letter-spacing: -.5rem;
  word-spacing: 1.5rem;
  line-height: 1;
  position: relative;
}

.hero-cta h2 span.chaos {
  height: 1.6rem;
  width: 60%;
  background-color: #ED33B9;
  position: absolute;
  bottom: -1rem;
  left: 0px;
}

.hero-cta h2 span.chaos-mobile {
  display: none;
}

.hero-cta h3.cta-subheadline {
  font-size: 5rem;
  margin: 3rem 0;
  font-weight: 300;
}

.hero-cta form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-cta form button.cta-signup-btn {
  width: 200px;
  border-radius: 2rem;
  font-family: "Raleway", sans-serif;
  color: #D5D5D5;
  margin-left: 1rem;
  padding: 1.5rem;
  background-color: #00152b;
  border: 2px solid #00152b;
  outline: none;
  -webkit-box-shadow: 12px 12px 20px #000a14, -8px -8px 15px #002447;
          box-shadow: 12px 12px 20px #000a14, -8px -8px 15px #002447;
}

.hero-cta form input[type=email], .hero-cta form input[type=text] {
  font-family: "Raleway", sans-serif;
  color: #2B2D42;
  padding: 1.5rem;
  margin: -10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
}

.hero-cta form input[type=email] :focus, .hero-cta form input[type=text] :focus {
  border: none;
}

.hero-cta form input[type=email] :focus-within, .hero-cta form input[type=text] :focus-within {
  border: none;
}

.hero-cta form input[type=email] {
  width: 200px;
  border-radius: 1.2rem 0 0 1.2rem;
}

.hero-cta form input[type=email]:focus, .hero-cta form input[type=email]:focus-within, .hero-cta form input[type=text]:focus, .hero-cta form input[type=text]:focus-within {
  width: 400px;
}

.hero-cta form input[type=email]:hover, .hero-cta form input[type=text]:hover, .hero-cta form button.cta-signup-btn:hover, .hero-cta form button.cta-signup-btn:active {
  color: #ED33B9;
  cursor: pointer;
  outline: none;
}

.hero-cta form input[type=text] {
  width: 150px;
  border-radius: 0 1.2rem 1.2rem 0;
  border-left: 1px dashed rgba(0, 0, 0, 0.8);
}

.hero-cta .cta-text {
  margin-top: 2rem;
}

.hero-cta .cta-text i {
  margin-left: 1rem;
}

.hero-cta .cta-text a:hover i, .hero-cta a:hover {
  color: #ED33B9;
}

.userInput {
  margin-top: 4rem;
}

.col-img-item {
  position: relative;
  width: 100%;
  height: 350px;
  margin-bottom: 16px;
  background-color: #000C19;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 110%;
  -webkit-transition: background-size .5s ease-in-out;
  transition: background-size .5s ease-in-out;
  -webkit-filter: opacity(70%) saturate(80%) contrast(120%) drop-shadow(-3px 2px 6px #2B2D42);
          filter: opacity(70%) saturate(80%) contrast(120%) drop-shadow(-3px 2px 6px #2B2D42);
}

.col-img-item::before,
.col-img-item::after {
  --scale: 0;
  --arrowsize: 15px;
  --tooltipBG: $GRYBlue;
  --speed: 150ms;
  z-index: 20;
  position: absolute;
  top: -.25rem;
  left: 80%;
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
  -webkit-transform: translateX(-80%) translateY(var(--translatey, 0)) scale(var(--scale));
          transform: translateX(-80%) translateY(var(--translatey, 0)) scale(var(--scale));
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--speed) transform;
  transition: var(--speed) transform;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.img-hover {
  z-index: 10;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
  background-size: 100%;
  animation: img-filter .5s ease-in-out reverse;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes img-filter {
  100% {
    -webkit-filter: opacity(70%);
            filter: opacity(70%);
  }
}

@keyframes img-filter {
  100% {
    -webkit-filter: opacity(70%);
            filter: opacity(70%);
  }
}

.col-img-item::before {
  --translatey: calc(-100% - var(--arrowsize));
  content: attr(data-hero-tooltip);
  padding: 2rem;
  background-color: #2B2D42;
  color: #E5478C;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  line-height: .9;
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

.col-img-item:hover::before,
.col-img-item:hover::after {
  --scale: 1;
}

.col-img-item::after {
  --translatey: calc(-1 * var(--arrowsize));
  -webkit-transform-origin: top center;
          transform-origin: top center;
  content: '';
  border-radius: 0;
  border: var(--arrowsize) solid transparent;
  border-top-color: #2B2D42;
}

.col-left {
  z-index: 1;
  -webkit-transform: translateY(-75px);
          transform: translateY(-75px);
}

.col-left .col-img-item:nth-child(1) {
  background-image: url("../img/1.jpg");
}

.col-left .col-img-item:nth-child(2) {
  background-image: url("../img/2.jpg");
}

.col-left .col-img-item:nth-child(3) {
  background-image: url("../img/3.jpg");
}

.col-left .col-img-item:nth-child(4) {
  background-image: url("../img/4.jpg");
  background-position: top center;
}

.col-left .col-img-item:nth-child(5) {
  background-image: url("../img/5.jpg");
}

.col-left .col-img-item:nth-child(6) {
  background-image: url("../img/6.png");
}

.col-left .col-img-item:nth-child(7) {
  background-image: url("../img/7.jpg");
}

.col-left .col-img-item:nth-child(8) {
  background-image: url("../img/8.jpg");
}

.col-left .col-img-item:nth-child(9) {
  background-image: url("../img/9.jpg");
  background-position: left center;
}

.col-left .col-img-item:nth-child(10) {
  background-image: url("../img/10.jpg");
}

.col-left .col-img-item:nth-child(11) {
  background-image: url("../img/11.png");
}

.col-left .col-img-item:nth-child(12) {
  background-image: url("../img/21.jpg");
}

.col-left .col-img-item:nth-child(13) {
  background-image: url("../img/49.jpg");
}

.col-left .col-img-item:nth-child(14) {
  background-image: url("../img/45.jpg");
}

.col-left .col-img-item:nth-child(15) {
  background-image: url("../img/12.jpg");
}

.col-right {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.col-right .col-img-item:nth-child(1) {
  background-image: url("../img/13.jpg");
}

.col-right .col-img-item:nth-child(2) {
  background-image: url("../img/14.jpg");
}

.col-right .col-img-item:nth-child(3) {
  background-image: url("../img/62.jpg");
}

.col-right .col-img-item:nth-child(4) {
  background-image: url("../img/34.jpg");
  background-position: top center;
}

.col-right .col-img-item:nth-child(5) {
  background-image: url("../img/17.2.jpg");
}

.col-right .col-img-item:nth-child(6) {
  background-image: url("../img/18.jpg");
}

.col-right .col-img-item:nth-child(7) {
  background-image: url("../img/37.jpg");
}

.col-right .col-img-item:nth-child(8) {
  background-image: url("../img/24.jpg");
}

.col-right .col-img-item:nth-child(9) {
  background-image: url("../img/19.jpg");
}

.col-right .col-img-item:nth-child(10) {
  background-image: url("../img/40.jpg");
}

.col-right .col-img-item:nth-child(11) {
  background-image: url("../img/27.jpg");
}

.col-right .col-img-item:nth-child(12) {
  background-image: url("../img/30.jpg");
}

.col-right .col-img-item:nth-child(13) {
  background-image: url("../img/46.jpg");
}

.col-right .col-img-item:nth-child(14) {
  background-image: url("../img/16.2.jpg");
}

.col-right .col-img-item:nth-child(15) {
  background-image: url("../img/56.jpg");
}

.col-right .col-img-item:nth-child(16) {
  background-image: url("../img/56.jpg");
}

/* -------------------------------------------------------------------------- */
/*                           HERO SECTION ANIMATION                           */
/* -------------------------------------------------------------------------- */
.col-left .col-img-item {
  -webkit-animation: left-col-animation linear 20s;
          animation: left-col-animation linear 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@-webkit-keyframes left-col-animation {
  0% {
    -webkit-transform: translate(0px, -50px);
            transform: translate(0px, -50px);
  }
  100% {
    -webkit-transform: translate(0px, -4500px);
            transform: translate(0px, -4500px);
  }
}

@keyframes left-col-animation {
  0% {
    -webkit-transform: translate(0px, -50px);
            transform: translate(0px, -50px);
  }
  100% {
    -webkit-transform: translate(0px, -4500px);
            transform: translate(0px, -4500px);
  }
}

.col-right .col-img-item {
  -webkit-animation: animationFrames linear 20s;
          animation: animationFrames linear 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 50px);
            transform: translate(0px, 50px);
  }
  100% {
    -webkit-transform: translate(0px, -4450px);
            transform: translate(0px, -4450px);
  }
}

@keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 50px);
            transform: translate(0px, 50px);
  }
  100% {
    -webkit-transform: translate(0px, -4450px);
            transform: translate(0px, -4450px);
  }
}

.album-preorder-area {
  background-color: #00152b;
  color: #D5D5D5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#PreorderHeadlines {
  width: 50%;
  background-color: #00152b;
}

#PreorderHeadlines .headlineinnerarea {
  padding: 20rem 0px 0 25rem;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#PreorderHeadlines .headlineinnerarea h2.preorder-main-heading {
  font-family: "Raleway", sans-serif;
  font-size: 8rem;
  -webkit-transform: translateX(-10rem);
          transform: translateX(-10rem);
  margin-bottom: 5rem;
}

#PreorderHeadlines .headlineinnerarea .preorder-title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

#NewAlbumPreOrder {
  width: 50%;
  background-color: #00152b;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#NewAlbumPreOrder #homepage-preorder {
  width: 70%;
}

#NewAlbumPreOrder #homepage-preorder .album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin-bottom: 20px;
}

#NewAlbumPreOrder #homepage-preorder .album .album-img-wrapper {
  width: 50%;
}

#NewAlbumPreOrder #homepage-preorder .album .album-title {
  font-size: 6rem;
  text-align: right;
  line-height: 1;
  margin: 2rem 0;
}

#NewAlbumPreOrder #homepage-preorder .album .album-shipping {
  width: 90%;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 300;
}

#NewAlbumPreOrder #homepage-preorder .album .album-shipping span {
  font-weight: 200;
}

#NewAlbumPreOrder #homepage-preorder .album .album-price {
  font-family: "Raleway", sans-serif;
  width: 90%;
  font-size: 2rem;
  text-align: right;
  line-height: 2;
}

#song-titles {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#song-titles #video-bg {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  -webkit-filter: opacity(50%) saturate(80%) contrast(120%) blur(5px);
          filter: opacity(50%) saturate(80%) contrast(120%) blur(5px);
}

#song-title-heading {
  top: 0;
  width: 40%;
  margin-left: 50%;
  z-index: 10;
  font-family: "Lobster", cursive;
  font-size: 12rem;
  color: #D5D5D5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#song-title-heading h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 8rem;
  line-height: .9;
  word-spacing: 2rem;
  letter-spacing: .2rem;
  margin-bottom: 4rem;
}

#song-title-heading p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 4rem;
  line-height: .9;
}

#song-title-heading p a:hover i, #song-title-heading p a:hover {
  color: #ED33B9;
}

#song-title-tracks {
  width: 60%;
}

#song-title-tracks h2.songTitle-heading {
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.5rem, 4rem, 8rem);
}

#song-title-tracks .song-titles {
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
}

#song-title-tracks .song-titles .track-titles {
  font-family: "Lobster", cursive;
  font-size: 12rem;
  color: #000C19;
  -webkit-filter: drop-shadow(1px 1px 2px #c7c6c6) drop-shadow(-5px -2px 5px #000C19);
          filter: drop-shadow(1px 1px 2px #c7c6c6) drop-shadow(-5px -2px 5px #000C19);
}

#spotify-section {
  width: 90vw;
  margin: 0 auto;
}

#spotify-section .spotify-cards-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#spotify-section .spotify-cards-area .spotify-top-track-item img {
  width: 200px;
}

.spotify-headline h2 {
  font-weight: 600;
  font-size: 4rem;
}

/* -------------------------------------------------------------------------- */
/*                 Famous Marilyn Manson Quotes Section Styles                */
/* -------------------------------------------------------------------------- */
/* 

1.  5 cards that take up 100% of the section width and view port height
2.  each is clickable to change or will change on their own on a timer
3.  large text 
4.  small circular image 
5.  name, position 
6.  clickable bars or buttons that transition in sync with the timer
7.  Will require javascript to contol change between quotes and the #famousQuotes background color

*/
#famousQuotes {
  background-color: #fa8f77;
  height: 90vh;
  position: relative;
}

.quotes {
  height: 90%;
  width: 700px;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.quotes-inner-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quotes-card {
  width: 100%;
  height: 100%;
  margin-right: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

.quoteContent {
  width: 700px;
}

.quoteContent .quote-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 3rem;
}

i.fa-quote-right {
  font-size: 5rem;
  color: #ED33B9;
  margin-bottom: 3rem;
}

.quote-name {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.quote-name h5, .quote-name p {
  text-align: center;
}

.quote-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-position: center center;
     object-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
}

.quote-button-area {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.quote-button-area .quotecards-buttons {
  display: inline-block;
  width: 10rem;
  height: 2rem;
  margin-right: 2rem;
  border: 2px solid #E5478C;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.quote-button-area .quotecards-buttons:hover {
  background-color: #ED33B9;
}

input[name="quotes"] {
  position: absolute;
  visibility: hidden;
}

input[name="quotes"]:checked + .quotes-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back-catalog {
  width: 90vw;
  margin: 8rem auto;
}

.back-catalog h3 {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.back-catalog h3 .fa-record-vinyl {
  margin-right: 2rem;
}

#Manson-Albums-Catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[5];
      grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 3rem;
}

#Manson-Albums-Catalog .album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#Manson-Albums-Catalog .album .album-title {
  font-weight: 300;
}

/* .backcatalog-cta {
    display: flex;
    height: 10rem;
    align-items: center;
    align-content: center;
}
.backcatalog-buy-albums {
    padding: 0rem;
    font-size: 2rem; 
} */
#tour-updates-form {
  background-color: #61caab;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tour-updates-form .tour-form-wrapper {
  width: 60%;
  height: 80%;
  border: 15px solid #2B2D42;
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tour-updates-form .tour-form-wrapper .tour-form-col {
  width: 50%;
  height: 100%;
}

#tour-updates-form .tour-form-wrapper .tour-form-col .tour-form-img-wrapper {
  height: 100%;
  width: 90%;
}

#tour-updates-form .tour-form-wrapper .tour-form-col .tour-form-img-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  height: 100%;
  width: 100%;
}

#tour-updates-form .tour-form-wrapper .update-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#tour-updates-form .tour-form-wrapper .update-right h3.headline {
  font-family: "Lobster", cursive;
  font-size: 9rem;
  line-height: 1.3;
  color: #00152b;
  text-align: center;
}

#tour-updates-form .tour-form-wrapper .update-right h3.headline span {
  color: inherit;
}

#tour-updates-form .tour-form-wrapper .update-right p.subheading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 3rem;
}

#tour-updates-form .tour-form-wrapper .update-right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#tour-updates-form .tour-form-wrapper .update-right form input {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 5rem;
  padding: 2rem;
}

#tour-updates-form .tour-form-wrapper .update-right form button.signup-btn {
  background-color: #00152b;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #D5D5D5;
  outline: none;
  border: none;
  border-radius: 5rem;
  padding: 1.5rem;
  cursor: pointer;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: background-color 0.1s, ease-in-out, -webkit-transform 0.3s;
  transition: background-color 0.1s, ease-in-out, -webkit-transform 0.3s;
  transition: transform 0.3s, background-color 0.1s, ease-in-out;
  transition: transform 0.3s, background-color 0.1s, ease-in-out, -webkit-transform 0.3s;
}

#tour-updates-form .tour-form-wrapper .update-right form button.signup-btn:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  background-color: #2B2D42;
  -webkit-transition: background-color 0.1s, ease-in-out, -webkit-transform 0.3s;
  transition: background-color 0.1s, ease-in-out, -webkit-transform 0.3s;
  transition: transform 0.3s, background-color 0.1s, ease-in-out;
  transition: transform 0.3s, background-color 0.1s, ease-in-out, -webkit-transform 0.3s;
}

.main-footer {
  height: 90vh;
  padding: 15rem 0;
  background-color: transparent;
  width: 60vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-footer .footer-logo {
  position: relative;
  width: 200px;
  margin-bottom: 5rem;
}

.main-footer .footer-logo .footer-logo-accent {
  width: 50px;
  height: 5px;
  background-color: #ED33B9;
  display: inline-block;
  position: absolute;
  top: -5px;
  left: 5px;
}

.footer-links {
  margin-right: 5rem;
}

.footer-links i {
  margin-right: 1rem;
  color: #E5478C;
}

.footer-links .footer-link-item a:hover, .footer-links .footer-link-item .fa:hover {
  position: relative;
  text-shadow: 0 0 50px #E5478C, 0 0 100px #E5478C, 0 0 150px #E5478C, 0 0 200px #E5478C, 0 0 250px #E5478C, 0 0 300px #E5478C, 0 0 350px #E5478C, 0 0 400px #E5478C;
  -webkit-animation: rotateHoverColour 3s linear infinite;
          animation: rotateHoverColour 3s linear infinite;
}

@-webkit-keyframes rotateHoverColour {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes rotateHoverColour {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.footer-links-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-links-content div:nth-child(1) {
  margin-right: 10rem;
  margin-bottom: 10rem;
}

.footer-link-section {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-link-item {
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}

.footer-copyright {
  height: 150px;
  padding: 2rem 2rem 4rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.floating-popup {
  position: relative;
  width: 20%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.floating-popup #popup-form {
  width: 100%;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  position: absolute;
  bottom: 10px;
  left: 60px;
  padding: 2rem;
  border: 0.5rem solid #D5D5D5;
  border-radius: 2rem;
  background-color: #000C19;
}

.floating-popup #popup-form #formPopup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.floating-popup #popup-form #formPopup h3 {
  font-size: 3rem;
}

.floating-popup #popup-form #formPopup button {
  background-color: transparent;
  border: none;
  padding: .5rem;
  font-size: 3rem;
  color: #ED33B9;
  outline: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform .2s ease-in;
  transition: -webkit-transform .2s ease-in;
  transition: transform .2s ease-in;
  transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}

.floating-popup #popup-form #formPopup button:hover {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(30deg) scale3d(2.5, 1.6, 2.5) perspective(15px) skewY(1.07rad);
          transform: rotate(30deg) scale3d(2.5, 1.6, 2.5) perspective(15px) skewY(1.07rad);
}

.floating-popup #popup-form #floating-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.floating-popup #popup-form #floating-form label {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

.floating-popup #popup-form #floating-form input {
  padding: 1rem;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  outline: none;
  margin-bottom: 1rem;
}

.floating-popup #popup-form #floating-form textarea {
  outline: none;
  padding: 1rem;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.floating-popup #popup-form #floating-form button {
  font-family: "Montserrat", sans-serif;
  padding: 2rem;
  font-weight: 600;
  font-size: 3rem;
  background-color: #2B2D42;
  outline: none;
  border: none;
  cursor: pointer;
}

.floating-popup .popup-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  width: 50px;
  height: 50px;
  padding: 1rem;
  bottom: 20px;
}

.floating-popup .popup-icon i {
  cursor: pointer;
  font-size: 4rem;
  color: #ED33B9;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.floating-popup .popup-icon i:hover {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: rotate(450deg);
          transform: rotate(450deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

#popup-form.form-open {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.popup-icon.form-open {
  color: #ED33B9;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.signup-content {
  height: 80vh;
  width: 80%;
  margin: 200px auto 0 auto;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */
@media (min-width: 200px) and (max-width: 500px) {
  .site-main-header, .main-footer, .home-page {
    width: 100%;
    overflow: hidden;
  }
  .site-main-header {
    font-family: "Poppins", sans-serif, sans-serif;
    height: 100px;
    margin: 0 auto;
    padding: 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-main-header .main-nav-links {
    display: none;
  }
  .site-main-header a.logo-link {
    width: 150px;
    margin-right: 1rem;
    top: 0px;
  }
  .site-main-header a.logo-link img {
    cursor: pointer;
  }
  .site-main-header a.logo-link .logo-accent {
    display: block;
    width: 40px;
    height: 4px;
    background-color: #E5478C;
    position: absolute;
    border-radius: 5px;
    left: 3px;
    top: -5px;
  }
  .site-main-header .menu-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .site-main-header .menu-btn .menu_burger {
    width: 40px;
    height: 5px;
    background-color: #ED33B9;
    border-radius: 5px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .site-main-header .menu_burger::before,
  .site-main-header .menu_burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: #ED33B9;
    border-radius: 5px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .site-main-header .menu_burger::before {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  .site-main-header .menu_burger::after {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  .site-main-header .menu-btn.open .menu_burger {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    background-color: transparent;
  }
  .site-main-header .menu-btn.open .menu_burger::before {
    -webkit-transform: rotate(45deg) translate(35px, -35px);
            transform: rotate(45deg) translate(35px, -35px);
  }
  .site-main-header .menu-btn.open .menu_burger::after {
    -webkit-transform: rotate(-45deg) translate(35px, 35px);
            transform: rotate(-45deg) translate(35px, 35px);
  }
  .hero-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(100px, 50%))[2];
        grid-template-columns: repeat(2, minmax(100px, 50%));
    grid-column-gap: 10px;
    height: 100vh;
    overflow: hidden;
    font-family: "Montserrat", sans-serif, sans-serif;
    font-weight: 600;
    padding: 0px 2rem;
  }
  .hero-container .col-img-item {
    position: relative;
    width: 100%;
    height: 130px;
    margin-bottom: 8px;
    background-color: #000C19;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 110%;
    -webkit-transition: background-size .5s ease-in-out;
    transition: background-size .5s ease-in-out;
    -webkit-filter: opacity(70%) saturate(80%) contrast(120%) drop-shadow(-3px 2px 6px #2B2D42);
            filter: opacity(70%) saturate(80%) contrast(120%) drop-shadow(-3px 2px 6px #2B2D42);
  }
  .hero-container .col-left .col-img-item {
    -webkit-animation: left-col-animation linear 20s;
            animation: left-col-animation linear 20s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  @-webkit-keyframes left-col-animation {
    0% {
      -webkit-transform: translate(0px, -75px);
              transform: translate(0px, -75px);
    }
    100% {
      -webkit-transform: translate(0px, -2175px);
              transform: translate(0px, -2175px);
    }
  }
  @keyframes left-col-animation {
    0% {
      -webkit-transform: translate(0px, -75px);
              transform: translate(0px, -75px);
    }
    100% {
      -webkit-transform: translate(0px, -2175px);
              transform: translate(0px, -2175px);
    }
  }
  .hero-container .col-right .col-img-item {
    -webkit-animation: animationFrames linear 20s;
            animation: animationFrames linear 20s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  @-webkit-keyframes animationFrames {
    0% {
      -webkit-transform: translate(0px, 50px);
              transform: translate(0px, 50px);
    }
    100% {
      -webkit-transform: translate(0px, -2100px);
              transform: translate(0px, -2100px);
    }
  }
  @keyframes animationFrames {
    0% {
      -webkit-transform: translate(0px, 50px);
              transform: translate(0px, 50px);
    }
    100% {
      -webkit-transform: translate(0px, -2100px);
              transform: translate(0px, -2100px);
    }
  }
  .hero-container .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10;
    left: 3vw;
    top: 15rem;
  }
  .hero-container .hero-cta div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-container .hero-cta div h2 {
    font-size: 6rem;
    text-align: center;
    font-weight: 800;
    letter-spacing: .1rem;
    word-spacing: 1rem;
    line-height: 1;
    position: relative;
  }
  .hero-container .hero-cta div h2 span.chaos-mobile {
    display: block;
    height: 1rem;
    width: 350px;
    background-color: #ED33B9;
    position: absolute;
    bottom: -1rem;
    left: 20px;
  }
  .hero-container .hero-cta div h2 span.chaos {
    display: none;
  }
  .hero-container .hero-cta div h3 {
    text-align: center;
    font-size: 2rem;
  }
  .hero-container .hero-cta div #hero-form div {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero-container .hero-cta div #hero-form div input[type=email], .hero-container .hero-cta div #hero-form div input[type=text] {
    width: 80%;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 1rem;
  }
  .hero-container .hero-cta div #hero-form div input[type=email]:focus, .hero-container .hero-cta div #hero-form div input[type=email]:focus-within, .hero-container .hero-cta div #hero-form div input[type=text]:focus, .hero-container .hero-cta div #hero-form div input[type=text]:focus-within {
    width: 80%;
  }
  .hero-container .hero-cta div #hero-form div input[type=email] {
    margin-bottom: 2rem;
  }
  .hero-container .hero-cta div #hero-form div input[type=text] {
    border-left: none;
    margin-bottom: 2rem;
  }
  .hero-container .hero-cta div #hero-form div .cta-signup-btn {
    padding: 1rem;
  }
  .hero-container .hero-cta div .cta-text {
    text-align: center;
    font-size: 2rem;
  }
  .album-preorder-area #PreorderHeadlines {
    display: none;
  }
  .album-preorder-area #NewAlbumPreOrder {
    width: 100%;
  }
  .album-preorder-area #NewAlbumPreOrder #homepage-preorder {
    width: 90%;
    margin: 0 auto;
  }
  .album-preorder-area #NewAlbumPreOrder #homepage-preorder .album {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-bottom: 20px;
  }
  .album-preorder-area #NewAlbumPreOrder #homepage-preorder .album .album-img-wrapper {
    width: 90%;
    margin-bottom: 10px;
  }
  .album-preorder-area #NewAlbumPreOrder #homepage-preorder .album .album-title {
    font-size: 4rem;
    text-align: center;
    line-height: 1;
    margin: 2rem 2rem;
  }
  .album-preorder-area #NewAlbumPreOrder #homepage-preorder .album .album-shipping {
    width: 90%;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .album-preorder-area #NewAlbumPreOrder #homepage-preorder .album .album-shipping span {
    font-weight: 200;
  }
  .album-preorder-area #NewAlbumPreOrder #homepage-preorder .album .album-price {
    font-family: "Raleway", sans-serif;
    width: 90%;
    font-size: 2rem;
    text-align: right;
    line-height: 2;
  }
  .album-preorder-area #NewAlbumPreOrder #homepage-preorder div:nth-child(1) h4 {
    margin-top: 20px;
  }
  .video-wrapper .song-title-section-wrapper #song-title-heading {
    margin: 0 auto;
    width: 90%;
  }
  .video-wrapper .song-title-section-wrapper #song-title-heading div {
    width: 100%;
  }
  .video-wrapper .song-title-section-wrapper #song-title-heading div .songTitle-heading {
    display: none;
  }
  .video-wrapper .song-title-section-wrapper #song-title-heading div .we-are-chaos-video {
    max-width: 0 auto;
    font-size: 6rem;
    line-height: 1.2;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 500;
    text-align: center;
  }
  .video-wrapper #song-title-tracks .song-titles .track-titles {
    display: none;
  }
  #famousQuotes {
    height: 120vh;
  }
  #famousQuotes .quotes {
    width: 100vw;
    max-width: 100vw;
  }
  #famousQuotes .quotes .quotes-inner-wrapper .quotes-card {
    margin-right: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #famousQuotes .quotes .quotes-inner-wrapper .quotes-card i {
    display: none;
  }
  #famousQuotes .quotes .quotes-inner-wrapper .quotes-card blockquote {
    max-width: 90vw;
  }
  #famousQuotes .quotes .quotes-inner-wrapper .quotes-card blockquote p {
    font-size: 2.5rem;
  }
  #famousQuotes .quotes .quotes-inner-wrapper .quotes-card .quote-name {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #famousQuotes .quotes .quotes-inner-wrapper .quotes-card .quote-name .quote-photo {
    width: 150px;
    height: 150px;
  }
  #famousQuotes .quotes .quotes-inner-wrapper .quotes-card:nth-child(2) i, #famousQuotes .quotes .quotes-inner-wrapper .quotes-card:nth-child(4) i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #famousQuotes .quotes .quotes-inner-wrapper .quotes-card:nth-child(2) blockquote p, #famousQuotes .quotes .quotes-inner-wrapper .quotes-card:nth-child(4) blockquote p {
    font-size: 3rem;
  }
  #famousQuotes .quotes .quotes-inner-wrapper .quotes-card:nth-child(2) .quote-name .quote-photo, #famousQuotes .quotes .quotes-inner-wrapper .quotes-card:nth-child(4) .quote-name .quote-photo {
    width: 180px;
    height: 180px;
  }
  #famousQuotes .quote-button-area {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
    bottom: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #famousQuotes .quote-button-area .quotecards-buttons {
    width: 18%;
    height: 35px;
    margin-right: 2%;
  }
  #Manson-Albums-Catalog {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    gap: 1rem;
  }
  #Manson-Albums-Catalog .album {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: static;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  #Manson-Albums-Catalog .album .album-title {
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    height: 100%;
    text-align: right;
  }
  #Manson-Albums-Catalog .album .year-of-release {
    font-size: 1.5rem;
    text-align: right;
  }
  #Manson-Albums-Catalog .album .album-img-wrapper {
    width: 100%;
  }
  #Manson-Albums-Catalog .album .album-img-wrapper img {
    width: 150px;
    height: 150px;
  }
  .main-footer {
    height: 40vh;
    padding: 10px 2rem 1rem 2rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main-footer .footer-logo {
    width: 150px;
    margin-bottom: 2rem;
  }
  .main-footer .footer-logo .footer-logo-accent {
    width: 30px;
    height: 3px;
    top: -6px;
    left: 2px;
  }
  .main-footer .footer-links-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-footer .footer-links-content .footer-title {
    display: none;
  }
  .main-footer .footer-links-content .footer-link-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-footer .footer-links-content div:nth-child(1) {
    display: none;
  }
  .main-footer .footer-links-content div:nth-child(2) {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-footer .footer-links-content div:nth-child(2) .social-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-footer .footer-links-content div:nth-child(2) .social-links .footer-link-item {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .main-footer .footer-links-content div:nth-child(2) .social-links .footer-link-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-footer .footer-links-content div:nth-child(2) .social-links ul:nth-child(1) {
    margin-right: 2rem;
  }
  .main-footer .footer-links-content div:nth-child(2) .social-links ul:nth-child(0) {
    margin-right: 0;
  }
  .main-footer .footer-copyright {
    text-align: right;
    width: 100%;
    padding: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (min-width: 440px) and (max-width: 700px) {
  .hero-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(100px, 50%))[2];
        grid-template-columns: repeat(2, minmax(100px, 50%));
    grid-column-gap: 10px;
    height: 100vh;
    overflow: hidden;
    font-family: "Montserrat", sans-serif, sans-serif;
    font-weight: 600;
    padding: 0px 2rem;
  }
  .hero-container .col-img-item {
    position: relative;
    width: 100%;
    height: 180px;
    margin-bottom: 8px;
    background-color: #000C19;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 110%;
    -webkit-transition: background-size .5s ease-in-out;
    transition: background-size .5s ease-in-out;
    -webkit-filter: opacity(70%) saturate(80%) contrast(120%) drop-shadow(-3px 2px 6px #2B2D42);
            filter: opacity(70%) saturate(80%) contrast(120%) drop-shadow(-3px 2px 6px #2B2D42);
  }
  .hero-container .col-left .col-img-item {
    -webkit-animation: left-col-animation linear 20s;
            animation: left-col-animation linear 20s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  @-webkit-keyframes left-col-animation {
    0% {
      -webkit-transform: translate(0px, -75px);
              transform: translate(0px, -75px);
    }
    100% {
      -webkit-transform: translate(0px, -2175px);
              transform: translate(0px, -2175px);
    }
  }
  @keyframes left-col-animation {
    0% {
      -webkit-transform: translate(0px, -75px);
              transform: translate(0px, -75px);
    }
    100% {
      -webkit-transform: translate(0px, -2175px);
              transform: translate(0px, -2175px);
    }
  }
  .hero-container .col-right .col-img-item {
    -webkit-animation: animationFrames linear 20s;
            animation: animationFrames linear 20s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  @-webkit-keyframes animationFrames {
    0% {
      -webkit-transform: translate(0px, 50px);
              transform: translate(0px, 50px);
    }
    100% {
      -webkit-transform: translate(0px, -2100px);
              transform: translate(0px, -2100px);
    }
  }
  @keyframes animationFrames {
    0% {
      -webkit-transform: translate(0px, 50px);
              transform: translate(0px, 50px);
    }
    100% {
      -webkit-transform: translate(0px, -2100px);
              transform: translate(0px, -2100px);
    }
  }
  .hero-container .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10;
    left: 3vw;
    top: 12rem;
  }
  .hero-container .hero-cta div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-container .hero-cta div h2 {
    font-size: 6rem;
    text-align: center;
    font-weight: 800;
    letter-spacing: .1rem;
    word-spacing: 1rem;
    line-height: 1;
    position: relative;
  }
  .hero-container .hero-cta div h2 span.chaos-mobile {
    display: block;
    height: 1rem;
    width: 350px;
    background-color: #ED33B9;
    position: absolute;
    bottom: -1rem;
    left: 20px;
  }
  .hero-container .hero-cta div h2 span.chaos {
    display: none;
  }
  .hero-container .hero-cta div h3 {
    margin-top: 4rem;
    text-align: center;
    font-size: 3rem;
  }
  .hero-container .hero-cta div #hero-form div {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .hero-container .hero-cta div #hero-form div input[type=email], .hero-container .hero-cta div #hero-form div input[type=text] {
    width: 50%;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
  }
  .hero-container .hero-cta div #hero-form div input[type=email]:focus, .hero-container .hero-cta div #hero-form div input[type=email]:focus-within, .hero-container .hero-cta div #hero-form div input[type=text]:focus, .hero-container .hero-cta div #hero-form div input[type=text]:focus-within {
    width: 50%;
  }
  .hero-container .hero-cta div #hero-form div input[type=email] {
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  .hero-container .hero-cta div #hero-form div input[type=text] {
    border-left: none;
    margin-bottom: 2rem;
  }
  .hero-container .hero-cta div #hero-form div .cta-signup-btn {
    margin: 0 auto;
    width: 80%;
    padding: 1rem;
  }
  .hero-container .hero-cta div .cta-text {
    text-align: center;
    font-size: 2rem;
  }
  .album-preorder-area #PreorderHeadlines {
    display: none;
  }
  .album-preorder-area #NewAlbumPreOrder {
    width: 100%;
  }
  .album-preorder-area #NewAlbumPreOrder #homepage-preorder {
    width: 90%;
    margin: 0 auto;
  }
  .album-preorder-area #NewAlbumPreOrder #homepage-preorder .album {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-bottom: 20px;
  }
  .album-preorder-area #NewAlbumPreOrder #homepage-preorder .album .album-img-wrapper {
    width: 60%;
    margin-bottom: 10px;
  }
  .album-preorder-area #NewAlbumPreOrder #homepage-preorder .album .album-title {
    font-size: 4rem;
    text-align: center;
    line-height: 1;
    margin: 2rem 2rem;
  }
  .album-preorder-area #NewAlbumPreOrder #homepage-preorder .album .album-shipping {
    width: 90%;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .album-preorder-area #NewAlbumPreOrder #homepage-preorder .album .album-shipping span {
    font-weight: 200;
  }
  .album-preorder-area #NewAlbumPreOrder #homepage-preorder .album .album-price {
    font-family: "Raleway", sans-serif;
    width: 90%;
    font-size: 2rem;
    text-align: right;
    line-height: 2;
  }
  .album-preorder-area #NewAlbumPreOrder #homepage-preorder div:nth-child(1) h4 {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */